//Fonts
$pacifico   :'Pacifico', cursive;
$roboto     : 'Roboto', sans-serif;
$exo        :'Exo', sans-serif;
$roboto-slab:'Roboto Slab', serif;

//Font weights
$thin   :100;
$light  :300;
$regular:400;
$medium :500;
$bold   :700;
$black  :900;

//Font sizes
$placeholder-size:14px;
$top-text-size:30px;//welcome to foini
$text-under-top-size:18px;

//Header sizes
$logo-size:40px;
$header-li-size:14px;
$header-description:48px;//we love foinni

//Welcome row sizes
$offers-size:24px;
$offer-description-size:14px;

//Meet us row sizes
$name-size:18px;
$job-description-size:14px;

//Our lates works row sizes
$li-size:18px;
$latest-works-row-button-size:18px;

//Our pricing plans row sizes
$pricing-name-size:14px;
$dollar-sign-size:24px;
$price-size:36px;
$mounth-size:18px;

//Form sizes

$form-button-size:18px;

//Footer sizes
$info-header-size:18px;//about, quick links...
$info-text-size:14px;
$subscribe-button-size:16px;
$social-icons-size:16px;

//Line heights

//Header
$higher-line-heigt:36px;
$lower-line-height:30px;//about us, quick links, under welcome to foinni text


//Colors
$white:#ffffff;
$green-crayola:#1dde85;
$floral-white:#fffcf4;
$outer-space:#454546;
$taupe-gray:#8f8e91;





